@font-face {
    
    font-family: "PlayfairDisplay"; 
    
    src: url(../Homework2/fonts/PlayfairDisplay-Regular.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
  
    /* global styles */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h2{
        color: rgb(98, 98, 98);
        font-size: 30px;
    }

    body{
        color: gray;
        font-family: "PlayfairDisplay";
    }
    
    a{
        color: gray;
        text-decoration: none;
        text-transform: uppercase;
    }
    /* menu */

    header, main,footer{
        width: 905px;
margin: 0 auto;
max-width: 100%;
    }
    header{
         padding-top:75px;
         padding-bottom: 75px;
         text-align: center;
    }


.menu{
   
    padding-left: 0;
    list-style: none;
   
}
.menu-item{
    font-size: 14px;
display: inline-block;
margin-right: 62.5px;
margin-left: 62.5px;
}

.menu-item a{
    transition: all 0.1s ease-out;
}
.menu-item a:hover{
    color: #009edf;
}

/* content */
.main{
    padding-top: 100px;
}

.article-blog{
    display: inline-block;
    width: 49%;
    margin-bottom: 130px;
    
}

.blog-img {
    width: 420px;
    height: 280px;
    width: 100%;
}
.blog-link{
    display: block;
    margin: 30px 0;
}
.blog-paragraf{
    margin-top: 40px;
    font-size: 14px;
}
.article-wrap{
    padding: 20px;
}
/* footer */
.loadmore-button {
    display: block;
    border: 1px solid rgb(98, 98, 98);
    padding: 25px 40px;
    color: rgb(98, 98, 98);
    background-color: white;
    font-family: "PlayfairDisplay";
    margin: 0 auto;
    font-size: 20px;
}

.footer{
    padding-bottom: 22px;
}



